.boton1free {
    background-color: $BallBlue;
    color: $White;
    border: none;
    width: 100%;
    height: 40px;
}

.boton2free {
    background-color: $BallBlue;
    color: $White;
    border: none;
    width: 100%;
    height: 40px;
}