footer {
    background-color: $RaisingBlack;
    color: $White;
    padding-top: 30px;
    padding-bottom: 30px;

    .legales {
        display: flex;
        justify-content: space-around;

    }

    h6 {
        margin-top: 0;
        margin-bottom: 0;
        font-family: $OpenSans;
    }

    h5 {
        margin-bottom: 0px;
        text-align: center;
        font-family: $OpenSans;
        font-size: x-small;
    }
}

@media (min-width:768px) {

    footer {
        display: flex;
        justify-content: space-around;
    

     .legales {
        justify-content: flex-start;
        margin-left: 0px;
        max-width: 60%;
        margin-right: 0;

     }



    h6 {
        margin-left: 30px;
    }
        
    h5 {
        text-align: right;
        margin: 0;
    }
}
}