.luxbar-header {
    width: 100%;
}

.luxbar-navigation {
    background-color: $White;
}

.luxbar-hamburger  {
    padding-left: 170px !important;
}

li , a {

    color: $Onix;

}

.luxbar-static {
    box-shadow: none;
}

.nav__bg {
    background-color: none !important;
    color: none !important;
}