.luxbar-header {
    width: 100%;
}

.luxbar-item {
    background-color: none;
}

.luxbar-navigation {
    background-color: $White;
}

.luxbar-hamburger  {
    padding-left: 170px !important;
}

li , a {

    color: $Onix;
    font-family: $OpenSans;
    font-size: $x-small;
}

.luxbar-static {
    box-shadow: none;
}

.nav__bg {
    background-color: none !important;
    color: none !important;
}

.nav_botones {
    display: none;
    font-family: $OpenSans;
    margin-left: 50px;


    .celeste {
        background-color: $BallBlue;
        border: none;
        color: $White;
        height: 30px;
        margin-top: 17px;
        margin-left: 40px;
        margin-right: 100px;
    
    }
}

@media (min-width:768px) {

    .luxbar-header {
        width: 16%;
    }

    .luxbar-brand {
        margin-left: 115px;
    }


    .luxbar-item {
        display: inline;
        font-size: $small;

        .marg {
            margin-left: 40px;
        }
    } 
    
    .luxbar-static {
        width: 70%;
    }

    .nav_botones {
        display: flex;
        justify-content: flex-end;
    }

    .luxbar-menu-light .active, .luxbar-menu-light .luxbar-item:hover {
        background-color: none;
    }

}